
body, html {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #d32f2f;
    color: white;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    width: 200px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.content h2 {
    text-align: center;
    color: #d32f2f;
    text-decoration: underline;
    font-size: 25px;
}

.content label {
    display: block;
    margin: 10px 0 5px;
}

.content input[type="text"], .content input[type="number"], .content select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.content .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content .buttons button {
    padding: 10px 20px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 90px;
}

.content .buttons button:hover {
    background-color: #b71c1c;
}

.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #d32f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.sidebar img {
    width: 35px;
    margin: 0 10px;
}

@media (max-width: 700px) {
    .content .buttons button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .content h2 {
        font-size: 22px;
    }
}
